<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rescue Password</title>
</head>
<body>
    <main className="mail-section">
        <h2><%=results['0'].name%></h2>

        <h3>To create a new password follow this steps!</h3>
        <p>Copy this token</p>
        <h3><strong><%=results['0'].reset_token%></strong></h3>
        <p>go to 
            <a href="https://fabiokleis.herokuapp.com/forgot_password">forgot_password</a> and paste!
        </p>
        <blockquote>
            time to expires <%=results['0'].token_date%> the random token!
        </blockquote>
    </main>
</body>
</html>